.wrapper #loading {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

#cartCount {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(29, 78, 216);
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: -50%;
  right: -50%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

header .shoppingCart {
  position: relative;
}
header .shoppingCart:hover #sub__shoppingCart {
  opacity: 1;
}
header .shoppingCart #sub__shoppingCart {
  transition: 0.3s all;
  opacity: 0;
  position: absolute;
  width: 350px;
  left: -255px;
  top: 125%;
  background-color: #fff;
  z-index: 1;
  box-shadow: 1px 1px 10px 0px #000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
header .shoppingCart #sub__shoppingCart::after {
  position: absolute;
  content: "";
  top: -28px;
  right: 62px;
  display: block;
  border-width: 20px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #fff;
}
header .shoppingCart #sub__shoppingCart h3 {
  padding: 8px;
  margin-bottom: 4px;
  text-align: center;
}
header .shoppingCart #sub__shoppingCart #cart__wrapper {
  padding: 0 8px;
  width: 100%;
  height: 200px;
  overflow: scroll;
}
header .shoppingCart #sub__shoppingCart #cart__wrapper::-webkit-scrollbar {
  display: none;
}
header .shoppingCart #sub__shoppingCart #cart__wrapper .cartItem {
  width: 100%;
  margin-bottom: 12px;
}
header .shoppingCart #sub__shoppingCart #cart__wrapper .cartItem .cartItem__info h4 {
  font-size: 16px;
}
header .shoppingCart #sub__shoppingCart #cart__wrapper .cartItem .cartItem__info p {
  font-size: 12px;
}
header .shoppingCart #sub__shoppingCart .sub__bottom {
  padding: 12px;
}
header .shoppingCart #sub__shoppingCart .sub__bottom .sub__total span,
header .shoppingCart #sub__shoppingCart .sub__bottom .sub__amount span {
  font-size: 16px;
}
header .shoppingCart #sub__shoppingCart .sub__bottom .sub__thanhToan {
  margin-top: 12px;
}
header .shoppingCart #sub__shoppingCart .sub__bottom .sub__thanhToan button {
  font-size: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(29, 78, 216);
  padding: 4px;
  color: #fff;
  margin-left: auto;
}

.carousel .presentation {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.carousel .presentation h1,
.carousel .presentation p {
  text-align: center;
  margin-bottom: 20px;
}

.product .list__heading .filter-section #select-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(29, 78, 216);
  color: #fff;
  padding: 8px 16px;
}
.product .product__item {
  box-shadow: 1px 1px 10px 0px #000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  padding: 12px;
  transition: 0.3s linear;
}
.product .product__item:hover {
  transform: translateY(-10px);
}
.product .product__item:hover .sub-wrapper {
  opacity: 1;
  animation: spinAround 1 linear forwards;
}
.product .product__item img {
  padding: 40px;
  max-width: 100%;
  margin-bottom: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.product .product__item .product__footer p {
  float: right;
  padding: 8px 16px;
  background-color: rgb(29, 78, 216);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product .product__item .product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .product__item .sub-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s all;
  animation: spinAround 1 linear forwards;
}
.product .product__item .sub-wrapper p {
  color: #fff;
  margin-bottom: 12px;
}
.product .product__item .sub-wrapper button {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background: rgb(29, 78, 216);
  padding: 12px;
  width: 100px;
  color: #fff;
}/*# sourceMappingURL=index.css.map */