$myColor-1: #fff;
$my-primary-color: rgb(29 78 216);

@mixin boxShadow() {
    box-shadow: 1px 1px 10px 0px #000;
}

@mixin animation() {
    animation: spinAround 3s linear forwards;
}

@mixin round($first_number, $second_number) {
    border-top-left-radius: $first_number + px;
    border-top-right-radius: $first_number + px;
    border-bottom-left-radius: $second_number + px;
    border-bottom-right-radius: $second_number + px;
}

.wrapper {

    #loading {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

//header 
#cartCount {
    display: block;
    width: 20px;
    height: 20px;
    background-color: $my-primary-color;
    color: $myColor-1;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: -50%;
    right: -50%;
    @include round(50, 50);
}

header {
    .shoppingCart {
        position: relative;

        &:hover {
            #sub__shoppingCart {
                opacity: 1;
            }
        }

        #sub__shoppingCart {
            transition: .3s all;
            opacity: 0;
            position: absolute;
            width: 350px;
            left: -255px;
            top: 125%;
            background-color: $myColor-1;
            z-index: 1;
            @include boxShadow();
            @include round(8, 8);

            &::after {
                position: absolute;
                content: '';
                top: -28px;
                right: 62px;
                display: block;
                border-width: 20px;
                border-left-color: transparent;
                border-right-color: transparent;
                border-top-color: transparent;
                border-bottom-color: $myColor-1;

            }

            h3 {
                padding: 8px;
                margin-bottom: 4px;
                text-align: center;
            }

            #cart__wrapper {
                padding: 0 8px;
                width: 100%;
                height: 200px;
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                .cartItem {
                    width: 100%;
                    margin-bottom: 12px;

                    .cartItem__info {
                        h4 {
                            font-size: 16px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }

            .sub__bottom {
                padding: 12px;

                .sub__total,
                .sub__amount {
                    span {
                        font-size: 16px;
                    }
                }

                .sub__thanhToan {
                    margin-top: 12px;

                    button {
                        font-size: 16px;
                        @include round(12, 12);
                        background-color: $my-primary-color;
                        padding: 4px;
                        color: $myColor-1;
                        margin-left: auto;
                    }
                }
            }

        }
    }
}

//carousel
.carousel {
    .presentation {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1,
        p {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}


//product
.product {
    .list__heading {
        .filter-section {
            #select-type {
                @include round(5, 5);
                background-color: $my-primary-color;
                color: $myColor-1;
                padding: 8px 16px;
            }
        }
    }

    .product__item {
        @include boxShadow();
        @include round(8, 8);
        position: relative;
        padding: 12px;
        transition: .3s linear;

        &:hover {
            .sub-wrapper {
                opacity: 1;
                animation: spinAround 1 linear forwards;
            }

            transform: translateY(-10px);
        }

        img {
            padding: 40px;
            max-width: 100%;
            margin-bottom: 8px;
            @include round(8, 0);
        }

        .product__footer {
            p {
                float: right;
                padding: 8px 16px;
                background-color: $my-primary-color;
                color: $myColor-1;
                @include round(5, 5)
            }
        }

        .product__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .sub-wrapper {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            opacity: 0;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.7);
            padding: 12px;
            @include round(8, 8);
            transition: .3s all;
            animation: spinAround 1 linear forwards;

            p {
                color: #fff;
                margin-bottom: 12px;
            }

            button {
                @include round(24, 24);
                background: $my-primary-color;
                padding: 12px;
                width: 100px;
                color: $myColor-1;
            }
        }

    }
}